* { 
    box-sizing: border-box; 
}

body {
    padding: 0;
    margin: 0;
    color: #004679;
    font-family: "Rubik", sans-serif;
    font-size: 17px;
    font-weight: 400px;  
    text-align: center;
}

h1, h2 {
    font-family: "Kanit", sans-serif;
    font-size: 64px;
    font-weight: 700;
}

.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(12, 1rf);
    grid-template-rows: 100px auto auto auto auto auto auto 65px;
}

a {
    text-decoration: none;
    color: #004679;
}


/* Navigation section styling */

nav {
    grid-column: 1 / 13;
    grid-row: 1 / 2;
    position: fixed;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    padding: 0 100px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    align-items: center;
    gap: 5rem;
}

.button {
    background-color: #1590EA;
    padding: 1rem;
    border-radius: 6px;
}

.button a {
    color: #fff;
}


/* Header section styling */

header {
    grid-column: 1 /13;
    grid-row: 3 / 4;
    height: 100%;
    width: 100%;
    padding: 0 4rem;
}

.head__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: space-between;
    align-items: start;
} 

.head__text {
    text-align: left;
    padding-top: 15%;
}

.head__text p {
    font-size: 36px;
}

.gap {
    display: none;
}

.head__visual {
    display: flex;
    justify-content: end;
}

.head__img {
    background-image: url('images/main-img.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding-left: 4rem;
    padding-top: 4rem;
    position: relative;
    width: 690px;
    height: 538px;
}

.head__gradient {
    background: linear-gradient(#1590EA 0%, transparent 70%);
    backdrop-filter: blur(15px);
    height: 275px;
    width: 275px;
    opacity: 60%;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
}

.button__resp {
    display: none;
}

/* Asid section styling */

.info__cards {
    display: flex;
    justify-content: space-between;
    grid-column: 1 / 13;
    grid-row: 4 / 5;
    padding: 0 4rem 4rem 4rem;
}

.card {
    border: 5px solid #1590EA;
    border-radius: 18px;
    width: 300px;
    height: 200px; /*fixed*/
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #578AAF;
    text-align: center;

}

.num {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 64px;
    color: #004679;
}

/* Main section styling */

main {
    grid-column: 1 / 13;
    grid-row: 5 / 6;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content:space-between;
    color: #fff;
    text-align: left;
    background-color: #1590EA;
    padding: 0 4rem;
}

.first__section {
    grid-column: 1 / 3;
    grid-row: 2 / 3;  
    padding-right: 2rem;
    /* width: 65%; */
}

.about__images {
    grid-column: 3 / 4;
    grid-row: 2 / 3;  
    display: flex; 
    justify-self: end;
    gap: 2rem;
    padding-left: 2rem;
} 

.image__1 {
    background-image: url(images/about-1.png);
    width: 291px;
    height: 291px;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box; 
}

.image__2 {
    background-image: url(images/about-2.png);
    width: 291px;
    height: 291px;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box; 
}

.image__4 {
    grid-column: 1 / 2;
    width: 305px;
    height: 247px;
    background-size: contain;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-image: url(images/about-3.png);
}

.about__text__2 {
    grid-column: 2 / 4;
    justify-self: start;
    padding-left: 2rem;
    padding-top: 1.5rem;
    /* width: 65%; */
}

/* Skills section styling */

.skills {
    box-sizing: border-box;
    grid-column: 1 / 13;
    grid-row: 6 / 7;
    color:#004679;
    background-size: cover;
    text-align: left;
    padding: 2.5rem 4rem;
}

.skills__box {
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.skills h2 {
    /* color: #fff; */
    margin: 0;
    padding-bottom: 3rem;
 }
 
 .skill-item {
    padding-right: 4rem;
     display: flex;
     justify-content:space-between;
     color:#004679;;
     
 }
 
 .dot {
     background-color:#004679;;
     opacity: 30%;
     margin: 0.2rem 0.2rem;
     width: 10px;
     height: 12px;
     border-radius: 40%;    
 }

 .fill {
    opacity: 90%;
 }
 
 .skill-dots {
     display: flex;
 }

 span {
     position: relative;
 }
/* Contacts section styling */

 .contacts {
    padding: 0 4rem 2rem 4rem;
    grid-column: 1 / 13;
    grid-row: 7 / 8;
    display: grid;
    grid-template-columns: 1fr 2fr; 
    text-align: left;
    line-height: 2rem;

 }
.contact__box{
    word-wrap: break-word;
    word-spacing: 1rem;
    font-size: 24px;
}

.contact__box  img {
    margin-right: 1rem;
    margin-top: 5px;
}

input, textarea {
    background-color: rgba(161, 216, 255, 1);
    opacity: 30%;
    border: 3px solid #1590EA;
    border-radius: 4px;
}

input:focus, textarea:focus {
    font-family: "Rubik", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #004679; 
    background-color: #fff;
    border-color: #004679;
}

::placeholder {
    color: #1590EA;
    padding: 3px;
    font-family: "Rubik", sans-serif;
}

form {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 44px 88px 44px;
    gap: 1.5rem;
}

textarea {
    grid-column: span 2;
}

input[type=submit] {
    background-color: #1590EA;
    color: #fff;
    opacity: 100%;
    font-weight: 600;
    font-size: 24px;
}

 
/* Footer section styling */

footer {
    grid-column: 1 / 13;
    grid-row: 8 / 9;
    color: #fff;
    text-align: center;
    background-color: #1590EA;
    align-items: center;
    opacity: 30%;
    margin: 0 -2.5rem;
    align-items: center;
}

@media only screen and (max-width: 768px) {

nav {
    display: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    "visual"
    "title"
    "button";
    justify-content: start;
    height: 100vh;
    align-items: center;
}

.head__visual {
    grid-area: visual;
    grid-row: 1 / 2;
}

.head__text {
    grid-area: title;
    grid-row: 2 / 3;
}

.button__resp {
    grid-area: button;
    grid-row: 4 / 5;
    display: initial;
    background-color: #1590EA;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 3rem;
    align-self:self-end;
}

.button__resp a {
    color: #fff;
}

.head__img {
    width: 300px;
    height: 300px;
    background-position: center center;
    background-size:cover;
    background-clip: border-box;
}

.head__gradient {
    display: none;
}

.head__text h1 {
    font-size: 48px;
}

.head__text p {
    font-size: 20px;
    color: #578AAF;
}

.gap {
    display: inline;
}

.info__cards {
    display: none;
}
main {
    display: none;
}

.skills {
    display: none;
}

.contacts {
    display: none;
}

footer {
    display: none;
}

}